{{#if count_courses}}
  <div class="cards">
  {{#each course}}
    <div class="card">
      <div class="picture" style="background-image: url(../static/icons/picture-test.png);">
        <div class="descriptions">
          <div class="description">
            <img src="../static/icons/time.svg" alt="" class="description__icon">
            {{ time_to_pass }} ч
          </div>
          <div class="heart">
            <img src="../static/icons/heart.svg" alt="" class="heart__img">
          </div>
        </div>
        <div class="descriptions">
          <div class="description">
            <img src="../static/icons/user.svg" alt="" class="description__icon">
            {{ purchases_amount }}
          </div>
        </div>
      </div>
      <div class="name">
        {{ title }}
      </div>
      <div class="rating-and-price">
        <div class="rating">
          <img src="../static/icons/star.svg" alt="" class="rating__star full">
          <img src="../static/icons/star.svg" alt="" class="rating__star full">
          <img src="../static/icons/star.svg" alt="" class="rating__star full">
          <img src="../static/icons/star.svg" alt="" class="rating__star full">
          <img src="../static/icons/star.svg" alt="" class="rating__star">
        </div>
        <div class="rating-and-price__price">{{ price }} ₽</div>
      </div>
    </div>
  {{/each}}
  </div>
{{else}}
  <div class="dont-content">
  Нету курсов
  </div>
  {{/if}}